/* EventPage.css #1d1e24  hsl(231,11%,13%)rgb(29,30,36) */

.bg{
  background: radial-gradient(circle, #191F6B, black);
}
.event-page {
  
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.event-name {
  font-size: 48px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 20px;
  font-weight: 600;
  color: #fff; /* Text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Text shadow effect */
  letter-spacing: 2px; /* Adjust letter spacing */
  transition: transform 0.2s ease-in-out;
}

.event-name:hover {
  transform: scale(1.1); /* Scale up on hover */
}


.poster-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
}

.poster-image {
  width: 50%;
  height: 500px;
  border: 5px solid #fff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.event-info-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 370px; /* Adjust the width */
  height: 500px; /* Adjust the height */
  background: radial-gradient(circle, #191F6B, transparent); /* Blueish radial gradient */
  font-weight: 800;
  color: #fff; /* Text color remains at 100% opacity */
  box-shadow: 0 0 10px 10px rgba(245, 245, 245, 0.2); /* Add blur radius for blurry border */
  padding: 50px;
 
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  font-size: 20px;
  border-radius: 20px; /* Add border-radius to round the shadow */
}




.event-info-card:hover {
  transform: scale(1.05); /* Hover effect to scale the card */
}

.card-content {
  display: flex;
  flex-direction: column;  /* Change this property */
  align-items: center;
  margin-bottom: 10px;
}


.card-icon {
  font-size: 24px;
  margin-right: 10px;
}

.card-text {
  font-size: 16px;
}

.event-description {
  margin-top: 20px;
}

.phone-icon, .email-icon {
  font-size: 24px;
  margin-right: 10px;
}

.contact, .email-icon {
  display: flex;
  align-items: center;
}


/* responsive */
@media (max-width: 768px) 
{
  .poster-section
  {
    display: flex;
    flex-direction: column;
    gap:40px;
  }
  .poster-image
  {
    width:100%;

  }
  .event-info-card
  {
    width: 100%;
  }
}