/* EventPage.css */
.event-page {
  background: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.event-name {
  font-size: 48px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 20px;
  font-weight: 600;
  color: #f47a41; /* Text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Text shadow effect */
  letter-spacing: 2px; /* Adjust letter spacing */
  transition: transform 0.2s ease-in-out;
}

.event-name:hover {
  transform: scale(1.1); /* Scale up on hover */
}


.poster-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
}

.poster-image {
  width: 50%;
  height: 500px;
  border: 5px solid #fff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.event-info-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 350px; /* Adjust the width */
  height: 450px; /* Adjust the height */
  background: #222;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adjust the shadow properties */
  padding: 20px;
  border: 2px solid #fff; /* Add a border */
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.event-info-card:hover {
  transform: scale(1.05); /* Hover effect to scale the card */
}

.card-content {
  display: flex;
  flex-direction: column;  /* Change this property */
  align-items: center;
  margin-bottom: 10px;
}


.card-icon {
  font-size: 24px;
  margin-right: 10px;
}

.card-text {
  font-size: 16px;
}

.event-description {
  margin-top: 20px;
}

.footer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width:100%;
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 20px;

  
}
.footer {
  background: #333; /* Change this color to your desired background color */

}

.phone-icon, .email-icon {
  font-size: 24px;
  margin-right: 10px;
}

.contact, .email-icon {
  display: flex;
  align-items: center;
}


/* responsive */
@media (max-width: 768px) 
{
  .poster-section
  {
    display: flex;
    flex-direction: column;
    gap:40px;
  }
  .poster-image
  {
    width:100%;

  }
  .event-info-card
  {
    width: 100%;
  }
}