

/* Center the form on the page */
.event-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  background-color: #121212;
  padding: 20px;
  box-sizing: border-box;
}


.event-form {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #1f1f1f;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
}

/* Style the form elements */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #4a90e2; /* A shade of blue for labels */
}

/* Change the color of date field icons */
.form-group input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(2); /* Inverts color to match the theme */
  margin-right: 20px;

}

.eventip{
  width: 100%;
  padding: 10px;

  border: 1px solid #333;
  border-radius: 5px;
  background-color: #2b2b2b; 
  color: #fff;
} 

button[type="submit"] {
  background-color: #4a90e2; /* A shade of blue for the submit button */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #357abd; /* Slightly darker blue on hover */
}

.error {
  color: #e74c3c; /* A shade of red for error messages */
  margin-top: 5px;
}

/* Change the color of headings */
h1 {
  color: #4a90e2; /* Match the label color for headings */
}

@media (max-width: 576px) {
  .event-form {
    max-width: 100%;
  }
}
